[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.2.2"
flask-sqlalchemy = "==3.0.3"
flask-migrate = "==3.1.0"
marshmallow = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
ipdb = "*"

[dev-packages]

[requires]
python_version = "3.12"
